@{
    Layout = null;
}
<link href="~/Content/Loading.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Frame/bootstrap/js/bootstrap-treeview.js"></script>
<link href="~/Frame/bootstrap/css/bootstrap.css" rel="stylesheet" />
<table style="width:99%;height:100%;margin-left:1%;">
    <tr style="height:5%">
        <td style="width:100%;padding-top:1%" class="btn-group">
            <button style="width:23%; float:left;font-size:85%" class="btn btn-default" id="addcode" onclick="AddData()">添加数据</button>
            <button style="width:23%;float:left;font-size:85%" class="btn btn-default" id="addkind" onclick="AddKind()">添加分类</button>
            <button style="width:19%;float:left;font-size:85%" class="btn btn-default" onclick="Modify()">修改</button>
            <button style="width:19%;float:left;font-size:85%" class="btn btn-default" onclick="Delete()">删除</button>
            <button style="width:15%;float:left;font-size:85%" class="btn btn-default" onclick="Shift()">切换</button>
        </td>
    </tr>
    <tr style="height:5%">
        <td style="width:100%;padding-top:1%">
            <button style="width:98%;" id="move" class="btn btn-default" onclick="Move(this)">移动</button>
        </td>
    </tr>
    <tr style="height:90%">
        <td valign="top" style="padding-top:2%">
            <div id="load" style="height:20%"><div class='loader loader--spinningDisc'></div></div>
            <div id="tree" style="width:100%;overflow:auto"></div>
        </td>
    </tr>
</table>

<script>
        var Nodeid, NodeText, IsKind = false;
        var AllNode, node_move;
        var frames, NodeAuthor;

        $(function () {
            $('#body').css("height", document.documentElement.clientHeight);
            frames = window.parent.window.document.getElementById("frame");
            $.ajax({
                type: "get",
                url: '@Url.Action("GetKind","Kind",new { id="Initial"})',//注意此文件必须与当前文件在同一目录下
                dataType: "json",
                error: function () {
                    alert("初始化数据无返回");
                    $('#load').remove();
                },
                success: function (result) {//result为任意定义的用于装载参数变量
                    AllNode = eval(result);
                    var data = TreeData(AllNode, "无");
                    NodeOperate(data);
                    $('#load').remove();
                }
            });

        });

        //处理分类为树状图
        function TreeData(data, parentId) {

            var itemArr = [];
            for (var i = 0; i < data.length; i++) {
                var node = data[i];
                //data.splice(i, 1)
                if (node["ParentId"] == parentId) {
                    var newNode = { Id: node.Id, text: node["text"], color: node.color, icon: node.icon };
                    for (var j = 0; j < data.length; j++) {
                        if (data[j].ParentId == node.Id) {
                            newNode["nodes"] = TreeData(data, node.Id); break;
                        }
                    }
                    itemArr.push(newNode);
                }
            }
            return itemArr;
        }
        //节点操作
        function NodeOperate(jsonDataTree) {
            //导入分类数据
            $('#tree').treeview({
                data: jsonDataTree,        // data is not optionals
                levels: 1,
                backColor: 'white',
                collapseIcon: 'glyphicon glyphicon-chevron-down'
            })
            //选中操作
            $('#tree').on('nodeSelected', function (event, node) {
                Nodeid = node.Id; NodeText = node.text;
                IsKind = false;
                if (node.color != "black") {
                    IsKind = true; $('#addcode').attr("disabled", false);
                    $('#addkind').attr("disabled", false);
                    return;
                }

                $('#addcode').attr("disabled", true);
                $('#addkind').attr("disabled", true);
                $.ajax({
                    type: "get",
                    url: '@Url.Action("GetCode","Kind")?Title=' + NodeText,//注意此文件必须与当前文件在同一目录下
                    dataType: "json",
                    error: function (textstatus) {

                        alert('无返回数据')
                        // $.dialog.alert('错误信息：' + errorThrown, function () { }, winObj);
                    },
                    success: function (result) {//result为任意定义的用于装载参数变量
                        var obj = eval(result);
                        frames.contentWindow.document.getElementById("frame_").contentWindow.setHtml(decodeURI(obj["Code"]));
                        $(window.parent.window.document.getElementById("title")).val(obj["Title"]);
                        NodeAuthor = obj["Author"];
                        $(window.parent.window.document.getElementById("author")).html("作者：" + obj["Author"]);

                    }
                });

            });
        }
        //修改
        function Modify() {
            if (Nodeid == null) { return; }
            var Old_AllNode = JSON.stringify(AllNode);
            if (IsKind) {
                var name = $(window.parent.window.document.getElementById("kind")).val();

                for (var i = 0; i < AllNode.length; i++) {
                    if (AllNode[i]["Id"] == Nodeid) {
                        AllNode[i]["text"] = name;
                        var data = TreeData(AllNode, "无");
                        NodeOperate(data); break;
                    }
                }
                var pd = { Name:name, Key:Nodeid }
                $.ajax({
                    data:pd,
                    type: "post",
                    url: '@Url.Action("ModifyKind", "Kind")',
                    dataType: "json",
                    error: function (textstatus) {
                        AllNode = JSON.parse(Old_AllNode);
                        var data = TreeData(AllNode, "无");
                        NodeOperate(data);
                        alert('修改分类无返回');
                        // $.dialog.alert('错误信息：' + errorThrown, function () { }, winObj);
                    },
                    success: function (result) {//result为任意定义的用于装载参数变量
                        var data = eval(result)

                        if (data["result"] == "修改失败") alert("修改失败");
                    }
                });
            } else {
                //if (window.parent.USER != NodeAuthor) { alert("不能修改非本账户代码数据"); return; }
                var title = $(window.parent.window.document.getElementById("title")).val(), Code = encodeURI(frames.contentWindow.document.getElementById("frame_").contentWindow.getHtml());
                for (var i = 0; i < AllNode.length; i++) {
                    if (AllNode[i]["Id"] == Nodeid) {
                        AllNode[i]["text"] = title;
                        var data = TreeData(AllNode, "无");
                        NodeOperate(data); break;
                    }
                }
                var pd = { Title: title, Code: Code, Key: Nodeid, OldTitle: NodeText }
                $.ajax({
                    type: "post",
                    url: '@Url.Action("ModifyCode", "Kind")',//注意此文件必须与当前文件在同一目录下
                    data: pd,
                    dataType: "json",
                    error: function (textstatus) {
                        AllNode = JSON.parse(Old_AllNode);
                        var data = TreeData(AllNode, "无");
                        NodeOperate(data);
                        alert('修改代码无返回');
                        // $.dialog.alert('错误信息：' + errorThrown, function () { }, winObj);
                    },
                    success: function (result) {//result为任意定义的用于装载参数变量
                        var obj = eval(result);
                        if ((obj.result + "").substr(0, 2) == "出错") {
                            alert(obj.result);
                            AllNode = JSON.parse(Old_AllNode);
                            var data = TreeData(AllNode, "无");
                            NodeOperate(data);
                        }
                    }
                });
            }
        }

        //添加数据
        function AddData() {
            var data_ = frames.contentWindow.getHtml() + "";
            if (data_.indexOf("<hr />") < 0 || data_.indexOf("<p>参考网址：<a href=") < 0) { alert("添加代码不规范"); return; }
            if (data_.indexOf("<hr />") < data_.indexOf("<p>参考网址：<a href=")) { alert("添加代码不规范"); return; }
            if (Nodeid == null) { return; }
            var data = encodeURI(frames.contentWindow.getHtml());
            var title = $("#title").val();
            var id = Nodeid;
            var pd = { "id": "AddData", "Title": title, "Code": data, "Key": id, "User": window.parent.window.USER }
            $.ajax({
                type: "post",
                url: '../Ashx/Handler.ashx',//注意此文件必须与当前文件在同一目录下
                data: pd,
                dataType: "json",
                error: function (textstatus) {

                    alert('添加返回失败');
                    // $.dialog.alert('错误信息：' + errorThrown, function () { }, winObj);
                },
                success: function (result) {//result为任意定义的用于装载参数变量
                    var obj = eval(result);
                    if ((obj.result + "").substr(0, 2) == "出错") { alert(obj.result); result; }
                    var data = { "Id": obj.result, "text": title, "ParentId": id, "color": "black", "icon": "glyphicon glyphicon-pencil" }
                    AllNode.push(data);
                    var jsonDataTree = TreeData(AllNode, "无");
                    NodeOperate(jsonDataTree);
                    Nodeid = null;
                }
            });
        }

        //切换
        Shift = function () {
            $(window.parent.window.document.getElementById("Kind_f")).css("width", "0px");
            $(window.parent.window.document.getElementById("Search_f")).css("width", "19%");
        }
</script>